
@{
    ViewBag.Title = "Index";
}

<br />
<br />

<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/Pics/Prod/TestPic1.png" alt="" style="width : 80%; height:80%">
            <div class="caption">
                <h4 style="text-align:center">DJI Phantom 2 Vision Plus</h4>
                <p> </p>
                @*<p><a href="#" class="btn btn-primary" role="button">Buy</a> <a href="#" class="btn btn-default" role="button">More Info</a></p>*@
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/Pics/Prod/TestPic3.png" alt="" style="width : 80%; height:80%">
            <div class="caption">
                <h4 style="text-align:center">DJI Phantom 2 with H3-3D Gimbal</h4>
                @*<p>Prod2 Desc</p>*@
                @*<p><a href="#" class="btn btn-primary" role="button">Buy</a> <a href="#" class="btn btn-default" role="button">More Info</a></p>*@
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/Pics/Prod/TestPic2.png" alt="" style="width : 80%; height:80%">
            <div class="caption">
                <h4 style="text-align:center">DJI Phantom Battery</h4>
                @*<p>Prod3 Desc</p>*@
                @*<p><a href="#" class="btn btn-primary" role="button">Buy</a> <a href="#" class="btn btn-default" role="button">More Info</a></p>*@
            </div>
        </div>
    </div>
</div>

<br />

<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/Pics/Prod/TestPic1.png" alt="" style="width : 80%; height:80%">
            <div class="caption">
                <h4 style="text-align:center">235mm DIY kit</h4>
                <p> </p>
                @*<p><a href="#" class="btn btn-primary" role="button">Buy</a> <a href="#" class="btn btn-default" role="button">More Info</a></p>*@
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/Pics/Prod/TestPic3.png" alt="" style="width : 80%; height:80%">
            <div class="caption">
                <h4 style="text-align:center">330mm DIY kit</h4>
                @*<p>Prod2 Desc</p>*@
                @*<p><a href="#" class="btn btn-primary" role="button">Buy</a> <a href="#" class="btn btn-default" role="button">More Info</a></p>*@
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/Pics/Prod/TestPic2.png" alt="" style="width : 80%; height:80%">
            <div class="caption">
                <h4 style="text-align:center">450mm DIY kit</h4>
                @*<p>Prod3 Desc</p>*@
                @*<p><a href="#" class="btn btn-primary" role="button">Buy</a> <a href="#" class="btn btn-default" role="button">More Info</a></p>*@
            </div>
        </div>
    </div>
</div>